/*----底部页脚----底部页脚----底部页脚----底部页脚----底部页脚----底部页脚----底部页脚---*/
.footer2 {
    color: var(--footer-color);
    background: var(--footer-bg);
    padding: 30px;
    font-size: 13px;
}

.footer2 a:not(.but):not(.focus-color) {
    color: var(--footer-color);
}

.footer2 a:hover {
    color: var(--focus-color);
}

.footer2 .list-inline > li {
    margin: 5px 15px;
}

.footer2 .list-inline > li + li + li {
    float: right;
}

.footer-miniimg {
    width: 90px;
    margin: 0 10px;
    text-align: center;
    vertical-align: text-top;
    display: inline-block;
}

.footer-contact > a {
    font-size: 20px;
    margin: 5px;
    width: 35px;
    height: 35px;
}

.footer-wechat-img {
    width: 140px;
    bottom: 90%;
    left: -55px;
    padding-bottom: 20px;
}

